<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>
<body>
    
    {{>navbar}}

    <!-- main header -->
    
    <div class="container-fluid main_header" style="height: 100vh;">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form" action="/weather" method="POST">
                        <input type="text" name="readcity" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitbtn">
                    </form>
                </div>
                <div class="tempinfo">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="date">23 JULY</p>
                    </div>
                    <div class="main_layer">
                        {{#if emptyErr}}
                            <p id="city_name"> Please write city name and then click on search</p>
                        {{else if invalidCity}}
                            <p id="city_name"> Please write correct spelling of city name</p>
                        {{else if obj}}
                            <p id="city_name"> {{obj.name}}, {{obj.sys.country}}</p>
                            <div class="inner_layer">
                                
                                <p><span id="temp">min: {{obj.main.temp_min}}</span><sup>o</sup>C</p>
                                <p><span id="temp">max: {{obj.main.temp_max}}</span><sup>o</sup>C</p>
                                {{#ifEquals obj.weather.[0].main "Rain" }}
                                    <p id="temp_status"><i style="color:rgb(99, 129, 228);" class="fa fa-cloud-rain"></i></p>
                                {{else ifEquals obj.weather.[0].main "Clear"}}
                                    <p id="temp_status"><i style="color:rgb(253, 249, 10);" class="fa fa-sun"></i></span></p>
                                {{else ifEquals obj.weather.[0].main "Clouds"}}
                                    <p id="temp_status"><i style="color:rgb(226, 222, 222);" class="fa fa-clouds"></i></span></p>
                                {{else}}
                                    <p id="temp_status"><i style="color:rgb(226, 222, 222);" class="fa fa-sun"></i></span></p>
                                {{/ifEquals}}
                                
                            </div>
                        {{else}}
                            <p id="city_name"> Output will be displayed here.</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}

    
    <script src="/js/main.js"></script>
</body>
</html>